.volumes/data/*
!.volumes/data/.gitkeep
.volumes/documents/*
!.volumes/documents/.gitkeep

.pytest_cache/
__pycache__/

build/
dist/
package/
help.spec
*.deb

# pyenv
.python-version

# db files
*.db
